{% extends 'shop/basic.html'  %}

{% block title %}About Us{% endblock%}

{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>My Awesome Cartt is an Indian e-commerce company based in Bangalore, Karnataka, India. It was founded by Sachin Bansal and Binny Bansal in 2007. The company initially focused on book sales, before expanding into other product categories such as consumer electronics, fashion, home essentials & groceries, and lifestyle products.

The service competes primarily with Amazon's Indian subsidiary, and the domestic rival Snapdeal.[5][6] As of March 2017, My Awesome Cartt held a 39.5% market share of India's e-commerce industry.[7] My Awesome Cartt is significantly dominant in the sale of apparel (a position that was bolstered by its acquisition of Myntra), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.[8] My Awesome Cartt also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).</p>
<!--      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h2>Chintan Sutariya</h2>
        <p>I am web developer ans enthusiast about learning new things</p>
        <p><a class="btn btn-secondary" href="https://www.linkedin.com/in/chintan-sutariya-a09483156/" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4"></div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>



{% endblock%}